<!--  flight picker form-->
<%= form_with url: "/bookings/new", method: :get do |f| %>
  <%= f.hidden_field :num_tickets, value: params[:num_tickets] %>
  <% searched_flights.each do |flight| %>
    <div>
      <%= f.radio_button :flight_id, flight.id %>
      <%= f.label :flight_id,
                  "To: #{flight.arrival_airport},
                     From: #{flight.departure_airport},
                     Date: #{flight.date},
                     Duration: #{flight.duration}"
      %>
    </div>
  <% end %>
  <br>
  <%= f.submit "Book flight", name: nil %>
<% end %>
