<h1>Search for flights:</h1>
<%= form_with url: "/flights", method: :get do |f| %>
  <div>
    <%= f.label :departure_code, "Departure airport:"  %>
    <%= f.select :departure_code, options_from_collection_for_select(@airports, :airport_code, :airport_code) %>
  </div>
  <div>
    <%= f.label :arrival_code, "Arrival airport:"  %>
    <%= f.select :arrival_code, options_from_collection_for_select(@airports, :airport_code, :airport_code) %>
  </div>
  <div>
    <%= f.label :date, "Departure date:"  %>
    <%= f.select :date, options_from_collection_for_select(@flights, :date, :date) %>
  </div>
  <div>
    <%= f.label :num_tickets, "Number of tickets:" %>
    <%= f.select :num_tickets, [1, 2, 3, 4] %>
  </div>
  <div>
    <%= f.submit "Search for flights", name: nil %>
  </div>
<% end %>