<h1>Search for flights:</h1>
<%= render "search_form" %>

<h1>Flights matching your criteria:</h1>
<table>
  <tr>
    <th>Departure airport</th>
    <th>Arrival airport</th>
    <th>Departure date</th>
    <th>Flight duration</th>
  </tr>
  <% @searched_flights.each do |flight| %>
    <tr>
      <td><%= flight.departure_airport %></td>
      <td><%= flight.arrival_airport %></td>
      <td><%= flight.date %></td>
      <td><%= flight.duration %></td>
    </tr>
  <% end %>
</table>